@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-agenda-blue: #17356b;
  --color-agenda-blue-dark: #0f2650;
  --color-agenda-teal: #17b8a3;
  --color-agenda-teal-dark: #0f9683;
  --color-agenda-bg: #f4f8fb;
}